header{
    display: flex;
    /* justify-content: space-between; */
    /* margin-left: 30px; */
}
ul{
    display: flex;
    justify-content: space-evenly;
    /* width: 400px; */
    list-style-type: none;  /*(to remove bullets)*/
    margin-top: 40px;
}
nav{
    width: 40%;
}   
h1{
    margin-top: 20px;
}
img{
    margin-left: 20px;
    margin-top: 20px;
height: 40px;
}